body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  width: 400px;
  margin: auto;
}

.todo-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.todo-item {
  background: white;
  padding: 10px;
  margin: 10px 0;
}

.todo-item.done {
  text-decoration: line-through;
  opacity: 0.6;
}

button {
  margin-right: 5px;
}
